@import url("./assets/fonts/Gilroy/stylesheet.css");
@import url("./assets/fonts/Nekst-Semi/stylesheet.css");
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body,
input,
button {
   font-family: "Nekst";
   /* background-color: #e5e5e5; */
   /* font-weight: 600; */
}

input:disabled {
   opacity: 0.4;
   cursor: not-allowed;
}

.loading {
   width: 30px;
   height: 30px;
   margin: 0 auto;
   /* margin-top: 10rem; */
   border-radius: 50%;
   border: 2px solid #ccc;
   border-top-color: transparent;
   animation: spinner 0.6s linear infinite;
}

@keyframes spinner {
   to {
      transform: rotate(360deg);
   }
}
